{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
  <div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to Webstacka Programmer Blog! Here we will be talking about everything computer science. Basics, frameworks, machine learning, artificial  intelligence, data science, any new tech or findings and pretty much anything computer science related.</p>
        
        <p>Go visit us at our websites <a href="https://www.webstackaprogrammers.com">webstackaprogrammers.com</a> to check out more cool stuff beyond just blogs.</p>
        <p>
          <a
            class="btn btn-primary"
            href="/posts"
            role="button">Go To Posts&raquo;</a>
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
